  body {
    background: #f5f5f5;
    color: #4a4a4a;
    font-family: helvetica;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-main{
    text-align: center;
  }

  .container-logo--img {
    padding: 15px;  
  }
  
  .form-login {
    width: 400px;
    height: auto;
    position: relative;
    text-align: center;
  }
    
  .form-login--text {
    clear: left;
    display: block;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    color: #4a4a4a;
    margin: .625em 0 0 0;
    outline: none;
    padding: 10px;
    width: 100%;
  }
  
  .form-login--submit {
    background: #008000;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    margin: 1.5em 0;
    width: 100%;
    opacity: .9;
    outline: none;
    padding: 8px 12px;   
  }

  .form-forget--link-color {
    text-decoration: none;
    color: #2972e0;
  }
  